*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
/Meta/
/doc/
docs
libs
output
renv/library
inst/doc
scratch/
.vscode/
Rplots.pdf
tests/testthat/Rplots.pdf
src/*.dll
src/*.o
src/*.mod
vignettes/*/figure/
